<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>
    <div class="todo-para-fijar-header">
        <header class="main-header">

            <section class="main-header-top-bar">
                <a href="/">
                <img src="/images/logo-mercado-liebre.svg" class="m-h-logo">
                </a>

                <form action="/search" method="get">
                    <input type="text" name="search" placeholder="Buscar productos, marcas y más" class="nav-search" >
                    <button type="send" class="button-busqueda"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>

                <h2 class="copy-header"> 
                    <i class="fa-solid fa-hand-holding-dollar"></i> 
                    Comprá en cuotas y sin tarjeta de crédito
                </h2>

            </section>

            <a href="#" class="burger-menu">
                <i class="fas fa-bars"></i>
            </a>
            
            
            <nav class="main-navbar">
                <ul class="left-navbar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
               <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a></i></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></i></li>
                <li><a href="#">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></i></li>

               </ul>
            </nav>
            
        </header>

   

   <main>

    <img src="/images/img-home-banner.jpg" alt="" class="banner"> 

    <h2 class="titulo">Basado en tu última visita</h2>
            
        <section class="seccion-productos">

            <article class="articulo">
                <img src="/images/img-cafetera-moulinex.jpg" alt="" class="foto-producto">
                <nav class="detalle-producto">
                    <picture class="art-truck">
                        <i class="fa-solid fa-truck"></i>
                    </picture>
                    <h3 class="precios">$6770</h3>
                    <h4 class="descuento">40% off</h4>
                    <h5 class="nombre-producto">Cafetera Moulinex</h5>
                </nav>
            </article>

            <article class="articulo">
                <img src="/images/img-macbook-pro-2019.jpg" alt="" class="foto-producto">
                <nav class="detalle-producto">
                    <picture class="art-truck">
                        <i class="fa-solid fa-truck"></i>
                    </picture>
                    <h3 class="precios">$230.000</h3>
                    <h4 class="descuento">20% off</h4>
                    <h5 class="nombre-producto">MacBook Pro 2019</h5>
                </nav>
            </article>

            <article class="articulo">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="" class="foto-producto">
                    <nav class="detalle-producto">
                        <picture class="art-truck">
                            <i class="fa-solid fa-truck"></i>
                        </picture>
                        <h3 class="precios">$70.500</h3>
                        <h4 class="descuento">10% off</h4>
                        <h5 class="nombre-producto">Samsung Galaxy S10</h5>
                    </nav>
            </article>

            <article class="articulo">
                <img src="/images/img-tv-samsung-smart.jpg" alt="" class="foto-producto">
                <nav class="detalle-producto">
                    <picture class="art-truck">
                        <i class="fa-solid fa-truck"></i>
                    </picture>
                    <h3 class="precios">$23.200</h3>
                    <h4 class="descuento">5% off</h4>
                    <h5 class="nombre-producto">SmartTv Samsung 43"</h5>
                </nav>
            </article>
        </section>

        <h2  class="titulo">Ofertas</h2>

        <section class="seccion-productos">

            

            <article class="articulo">
                <img src="/images/img-cafetera-moulinex.jpg" alt="" class="foto-producto">
                <nav class="detalle-producto">
                    <picture class="art-truck">
                        <i class="fa-solid fa-truck"></i>
                    </picture>
            
                    <h3 class="precios">$6770</h3>
                    <h4 class="descuento">40% off</h4>
                    <h5 class="nombre-producto">Cafetera Moulinex</h5>
                
            </article>

            <article class="articulo">
                <img src="/images/img-macbook-pro-2019.jpg" alt="" class="foto-producto">
                <nav class="detalle-producto">
                    <picture class="art-truck">
                        <i class="fa-solid fa-truck"></i>
                    </picture>
                    <h3 class="precios">$230.000</h3>
                    <h4 class="descuento">20% off</h4>
                    <h5 class="nombre-producto">MacBook Pro 2019</h5>
                </nav>
            </article>

            <article class="articulo">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="" class="foto-producto">
                <nav class="detalle-producto">
                    <picture class="art-truck">
                        <i class="fa-solid fa-truck"></i>
                    </picture>
                    <h3 class="precios">$70.500</h3>
                    <h4 class="descuento">10% off</h4>
                    <h5 class="nombre-producto">Samsung Galaxy S10</h5>
                </nav>
            </article>
            <article class="articulo">
                <img src="/images/img-tv-samsung-smart.jpg" alt="" class="foto-producto">
                <nav class="detalle-producto">
                    <picture class="art-truck">
                        <i class="fa-solid fa-truck"></i>
                    </picture>
                    <h3 class="precios">$23.200</h3>
                    <h4 class="descuento">5% off</h4>
                    <h5 class="nombre-producto">SmartTv Samsung 43"</h5>
                </nav>
            </article>
        
    </main>

    <footer class="footer-product">

        <section class="secciones-footer">
            <div class="fa-solid fa-credit-card"></div>

            <p class="titulos">Pagá con tarjeta o en efectivo</p>

            <p class="textos">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
                
        </section>

        <section class="secciones-footer">       

            <div class="fa-solid fa-gift"></div>
            <p class="titulos">Envío gratis desde $ 2.500</p>

            <p class="textos">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
            </section>

        <section class="secciones-footer">       

            <div class="fa-solid fa-user-shield"></div>
            <p class="titulos">Seguridad, de principio a fin</p>
    
            <p class="textos">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>

           
            </section>

            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L. </p> 
    </footer>

</body>
</div>
</html>