<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>
        <header class="main-header">

            <section class="main-header-top-bar">

                <a href="/">
                    <img src="/images/logo-mercado-liebre.svg" class="m-h-logo">
                </a>

                <form action="/nav-search" method="get">
                    <input type="text" name="search" placeholder="Buscar productos, marcas y más" class="nav-search" >
                    <button type="send" class="button-busqueda"><i class="fa-solid fa-magnifying-glass"></i></button>

                </form>

                <h2 class="copy-header"> 
                    <i class="fa-solid fa-hand-holding-dollar"></i> 
                    Comprá en cuotas y sin tarjeta de crédito
                </h2>

            </section>

            <a href="#" class="burger-menu">
                <i class="fas fa-bars"></i>
            </a>
            
            
            <nav class="main-navbar">
                <ul class="left-navbar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="right-navbar">
                    <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a></i></li>
                    <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></i></li>
                    <li><a href="#">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></i></li>
    
                   </ul>
            </nav>
            
        </header>

<main class="login-style">
    <label for="nombre-usuario" class="label-form"></label>
    <input type="text" name="nombre-usuario" id="nombre-usuario" placeholder="Nombre de usuario" class="entrada-dato" required >
    
    <label for="contraseña" class="label-form"></label>
    <input type="password" name="contraseña" id="password" placeholder="Elegí tu contraseña" class="entrada-dato" required>

    <button type="submit" class="boton-login">Enviar</button>

</main>

<footer class="footer-product">

    <section class="secciones-footer">
        <div class="fa-solid fa-credit-card"></div>

        <p class="titulos">Pagá con tarjeta o en efectivo</p>

        <p class="textos">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
            
    </section>

    <section class="secciones-footer">       

        <div class="fa-solid fa-gift"></div>
        <p class="titulos">Envío gratis desde $ 2.500</p>

        <p class="textos">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
        </section>

    <section class="secciones-footer">       

        <div class="fa-solid fa-user-shield"></div>
        <p class="titulos">Seguridad, de principio a fin</p>

        <p class="textos">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>

       
        </section>

        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L. </p> 


</footer>

</body>
</html>