footer{
    margin: 0rem;
    text-align: center;
    margin-top: 2rem;
    
}

.fa-user-shield:hover{
    color: #ebebee;
    transition: 250ms;
}

.fa-gift:hover{
    color: #ebebee;
    transition: 250ms;
}

.fa-credit-card:hover{
    color: #ebebee;
    transition: 250ms;
}

.fa-credit-card{
    color: #03264C;
    font-size: 2rem;
    margin-bottom: 0.625rem;
}


.fa-gift{
    color: #03264C;
    font-size: 2rem;
    margin-bottom: 0.625rem;
}

.fa-user-shield{
    color: #03264C;
    font-size: 2rem;
    margin-bottom: 0.625rem;
}

footer p{
    font-size: 1rem;
}

.titulos{
    font-size: 1.2rem;
    font-weight: bold;
    color: #666;
    margin: 0rem;

}

.textos{
    
    padding: 1.5rem;
    font-size: 0.75rem;
    margin-top: 0.1rem;
    color: #666;
}

.copy{
    font-size: 0.75rem;
    text-align: left;
    color: #666;

}

@media (min-width: 1028px) {
    .footer-product{
        display: flex;
        flex-wrap: wrap;
    }
    .secciones-footer{
        width: 33%;
    }
    .copy{
        text-align: left;
        margin: 2rem;
    }
    

}