.login-style{
    padding: 2rem;
    margin: 0rem;
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

.button-login:hover{
    background-color: #0022AA;
    transition: 250ms;
}

.button-login{
    display: block;
    border: #ebebeb;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    padding: 1rem;
    border-radius: 1rem;
    text-align: 1rem;
    width: 60vw;
    background-color: #03264C;
    color:white;
    margin: 4rem 0rem 3rem 0rem;
}